extends ../layout

block scripts
    link(href='stylesheets/admin.css', rel='stylesheet')

block content
    div.welcome
        h1 Admin Panel
    div
        h3 Select transfer order
    div
        h3 Select trasnfer turn
        form.form-inline(method="post", action='admin/set-transfer-turn')
            div.form-group
                label(for='username') Select account
                select#username.form-control(name='username')
                    option(value='', selected, disabled) Please select
                    for account in accounts
                        option(value= account._source.username)= account._source.name
            button.btn.btn-primary(type='submit') Make Transfer
    brdiv
        h3 Advance gamesweek

