doctype html
html(lang="en")
    head
        include partials/head
        block scripts
    body
        div.container
            include partials/header
            block content
        include partials/footer
        block footer
