extends layout

block scripts
    link(href='stylesheets/signup.css', rel='stylesheet')

block content
    form.form-signup(method="post")
        h2.form-signup-heading Fill the following
        div.form-group
            label.sr-only(for='inputFullName') Full name
            input#inputFullName.form-control(name='inputFullName', type='text', placeholder='Full name', required='', autofocus='')
        div.form-group
            label.sr-only(for='inputTeamName') Team name
            input#inputTeamName.form-control(name='inputTeamName', type='text', placeholder='Team name', required='')
        div.form-group(class=(query.err === "username")?"has-error":'')
            label.sr-only(for='inputUsername') Username
            input#inputUsername.form-control(name='inputUsername', type='text', placeholder='Username', required='')
        div.form-group(class=(query.err === "email")?"has-error":'')
            label.sr-only(for='inputEmail') Email address
            input#inputEmail.form-control(name='inputEmail', type='email', placeholder='Email', required='')
        div.form-group(class=(query.err === "password")?"has-error":'')
            label.sr-only(for='inputPassword') Password
            input#inputPassword.form-control(name='inputPassword', type='password', placeholder='Password', required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit', action='signup') Sign up