extends layout

block scripts
  link(href='stylesheets/standings.css', rel='stylesheet')

block content
  div.welcome: h1 Standings
  table.table.table-bordered
    tbody
      for account in accounts
        tr
          td.col-md-4= account._source.team_name
          td.col-md-4= account._source.name
          td.col-md-4= teams.get(account._source.username)