extends layout

block scripts
  link(href='stylesheets/standings.css', rel='stylesheet')

block content
  div.welcome: h1 Standings
  table.table.table-bordered
    tbody
      mixin rows
        td.col-md-4= team.teamName
        td.col-md-4= team.name
        td.col-md-4= team.totalPoints
      for team, index in teams
        if index == 0
          tr.success
            +rows
        else if index == teams.length-1
          tr.danger
            +rows
        else 
          tr.warning
            +rows